* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    font-size: 12px;
}

section, header, footer, aside, nav, article{
    display: block;
}
#block {
    background:orange;
    font-size: 12px;
    width: 120px;
    padding: 8px;
}

.printRun {
    position: absolute;
    width: 400px;
    left: 600px;
    top: 170px;

}

.label1 {
    vertical-align: middle;
    margin-bottom : 15px;
    line-height: 25px;
}

.input1 {
    position: absolute;
    left:250px;
    vertical-align: middle;
    background: white;
    border: 1px double #DDD;
    /*border-radius: 5px;*/
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}
.input2 {
    position: absolute;
    left:250px;
    vertical-align: middle;
    background: #ffffff;
    border: 1px double #DDD;
    /*border-radius: 5px;*/
    box-shadow: 0 0 5px #333;
    color: red;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}

.input3 {
    position: absolute;
    left:250px;
    vertical-align: middle;
    background: #ffffff;
    border: 1px double #DDD;
    /*border-radius: 5px;*/
    box-shadow: 0 0 5px #333;
    color: #000000;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}
.total {
    position: absolute;
    left:250px;
    vertical-align: middle;
    background: greenyellow;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}

.unit {
    position: absolute;
    left:250px;
    vertical-align: middle;
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}
.input_im {
    position: absolute;
    left:250px;
    vertical-align: middle;
    background: #ffff00;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}

.labela {
    vertical-align: middle;
    margin-bottom : 15px;
    line-height: 25px;
    background: lightskyblue;
}
.input_a,
.input_c,
.input_e {
    vertical-align: middle;
    background: #ffff00;
    border: 1px double #DDD;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 150px;
    margin-left: 30px;
}

.input_b,
.input_d,
.input_f {
    vertical-align: middle;
    background: greenyellow;
    border: 1px double #DDD;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 150px;
    margin-left: 30px;
}

.input_report {
    vertical-align: middle;
    border: 1px double #DDD;
    background: #a6ff94;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 60px;
    text-align: center;
}
.input_rate {
    vertical-align: middle;
    border: 1px double #DDD;
    background: #ffff00;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 60px;
    text-align: center;
}


.num, .quo {
    background: #ffff00;
    position: absolute;
    left:250px;
    vertical-align: middle;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}
.input_t {
    background: greenyellow;
    position: absolute;
    left:250px;
    vertical-align: middle;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 275px;
    margin-left: 30px;
}

.date1 {
    vertical-align: middle;
    background: white;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    color: #666;
    outline: none;
    height:20px;
    width: 100px;
    margin-left: 50px;
}


#ex_header {
    background-color: #F8F8F8;
}

#ex_header img {
    margin: 15px 0 10px 80px;
}

#ex_header h1 {
    color: #100000;
    padding: 15px;
}

#ex_footer h6 {
    margin: 0 0 0 10px;
}

ul#tabmenu
{
    width:100%;
    margin: 0 auto;
    text-align:left;
    list-style:none;
    padding:0;
    font-size:13px;
    position:relative;
    min-height:62px;
}
ul#tabmenu:after
{
    content:'.'; height: 0; clear: both; display: block; visibility: hidden;
}

ul#tabmenu li
{
    display:inline;
    list-style:none; padding:0;
    margin-top:0;
    margin-bottom:0;
    margin-left:1px;
    margin-right:-2px;
}

ul#tabmenu li a
{
    letter-spacing:normal;
    color:#F3F9FE;
    padding:0 26px;
    line-height:26px;
    font-size:11px;
    font-weight:normal;
    font-family:Arial;
    text-decoration:none;
    display:inline-block;
    outline:0;

    border:1px solid #000000;
    border-bottom:none;
    background:#21436A url(../img/bg-blue.gif) no-repeat 0 bottom;
    position:relative;
    top:1px;
    z-index:4;

}
ul#tabmenu li a:hover
{
    padding-bottom:1px;
    background: #336699 url(../img/bg-blue1.gif) no-repeat 0 bottom;
    color:#FFFFFF;
}


/* Secondary level sub-menu
----------------------------------------------------------*/
ul#tabmenu li ul, ul#tabmenu>li:first-child>ul
{
    text-align:left;
    margin:0;
    padding:0;
    border:1px solid #000000;
    float:left;
    width:100%;
    z-index:3;

}
ul#tabmenu li ul
{
    letter-spacing:normal;
    background:#336699 url(../img/bg-blue2.gif) repeat-x 0 0;
}
ul#tabmenu li ul li a{
    display: none;
}
ul#tabmenu li:hover ul li a
{
    display:inline;
}
ul#tabmenu li li
{
    margin-left: 0px;
    padding-left:0;
    padding-right:30px;
    line-height:36px;
    margin: 0; border: 0; top: 0;
}

/*Sub-menu links*/
ul#tabmenu ul li a
{
    color:#F3F9FE;
    padding:0;
    padding-left:0;
    padding-right:30px;
    font-size:13px;
    font-weight:normal;
    font-family:Arial;
    line-height:36px;
    margin: 0; border: 0; top: 0;
    background: transparent;
}
ul#tabmenu li li a, ul#tabmenu li li a:hover {
    color:#F3F9FE;
    border: 0;
    background: transparent;
}

ul#tabmenu ul li.subActive a, ul#tabmenu ul li a:hover
{
    text-decoration: underline;
    color:#FFFFFF;
}




#ex_sidebar {
    float: left;
    width: 150px;
    background-color: #ffffff;

    padding: 15px;
}

#ex_sidebar ul {
    list-style-type: none;
}

#ex_sidebar ul li {
    padding: 5px 0 5px 0;
}

#ex_sidebar ul li a {
    color: #333333;
}

#ex_sidebar h2 {
    margin: 0 0 0 10px;
}

#ex_main {

    padding: 15px;
    background-color: #EEEEEE;
}

#content {
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 50px;

}

.clear {clear: both;}

li.active {
    color: #ffff00;
}

#flashMessage {
    background: red;
    font: initial;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: darkblue;
    border-radius: 50px;
    box-shadow: 0 0 5px #585858;
    width: 500px;
}

#table_report {
    background-color: #eee;
    border-collapse: collapse;
    font-size: small;
}

#table_report th, #table_report td{
    border: 1px solid black;
    text-align: center;

}

#table_budget {
    border: 1px solid black;
    text-align: left;
    width: 700px;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px ;

}

#budget {
    position: absolute;
    left: 25%;
    top: 200px;
    width: 65%;
    padding-left: 15px;
    margin: 10px;
}


element.style {
}
footer#ex_footer {
    position: absolute;
    top: 700px;
    height:60px;

}

#table_budget th {
    padding: 4px;
}

#table_budget #ind1 {
    text-indent: 20px;
}

#table_budget .cost {
    color: red;
}
#total_row {
    background-color: #000000;
    padding-bottom: 1px;
    padding-top: 1px;
}

#total_row h3{
    background-color: #EEEEEE;
}


.clear {
    clear: both;
}
div .header {
    text-align: center;
}

div .business_case {
    float: right;
    padding-right: 100px;
    margin: 20px;
}

div .summary {
    float: left;
    padding-left: 100px;
    margin: 20px;
}

div .search {
    background: dimgrey;
    padding: 20px;
}

div.break {
    padding: 20px;
}

td.total_td {
    background: bisque;
}

#right {
    float: right;
    margin: 10px;
}

#left {
    float: left;
    margin: 10px;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.myButton:active {
    position:relative;
    top:1px;
}
